
{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %}
    <title>Excluir</title>
{% endblock titulo %}


{% block info_tela %}
    <h3 style="margin-top: 10px; text-align: center;">Exclusão de Registro.</h3>
{% endblock info_tela %}


{% block conteudo %}

    <p style="margin-top: 20px;" class="lead">
        <b>ATENÇÃO!</b> Após clicar no botão <b class="btn-danger">Excluir</b>, a operação não poderá ser desfeita.
    </p>

    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        <p style="font-size: large;">Deseja excluir <strong>{{ object }}</strong> 

            {% if object.nome_classe == "Verba" %}

                no valor de <b>R$ {{ object.valor_verba }}</b> 
                referente à <b>{{ object.motivo_verba }}</b>?

            {% else %}

                no valor de <b>R$ {{ object.valor_solic }}</b> 
                referente à <b>{{ object.motivo_solic }}</b>?
        
            {% endif %}

        </p>

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>

{% endblock conteudo %}
