<!-- confirmação de envio do fiscal para o financeiro-->
{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %}
    <title>Envio para Financeiro</title>
{% endblock titulo %}


{% block info_tela %}
    <h3 style="margin-top: 10px; text-align: center;">Envio de OC para Financeiro.</h3>
{% endblock info_tela %}


{% block conteudo %}

    <p style="margin-top: 20px;" class="lead">
        <b>ATENÇÃO!</b> Após clicar no botão <b class="btn-success">Enviar</b>, 
        a Ordem de Compra será coniderada conferida pelo setor Fiscal, enviada ao responsável Financeiro 
        para pagamento, e não poderá mais ser editada pelo Fiscal.
    </p>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        <p style="font-size: large;">Deseja liberar <strong>{{ object }}</strong>
            no valor de <b>R$ {{ object.valor_aprov }}</b> 
            referente à <b>{{ object.motivo_solic }}</b>? 
        </p>
        {% csrf_token %}

        <button type="submit" class="btn btn-success mt-3 btn-sm" >
            <i class="fa-regular fa-paper-plane"></i> Enviar</button>
    </form>

{% endblock conteudo %}
