{% extends 'paginas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
    <title>Análise PCs</title>
{% endblock titulo %}


{% block info_tela %}
    <h3 style="margin-top: 10px; text-align: center;">Análise de Pedidos de Compra</h3>
{% endblock info_tela %}


{% block conteudo %}
    <div class="card">
        <div style="text-align: center; font-size: large; font-weight: bold;" class="card-header">
            Informações da solicitação
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <b>Data da  Solicitação:</b> {{ object.data_solic }}</li>
            <li class="list-group-item"> <b>Valor Solcitado:</b> R$ {{ object.valor_solic }}</li>
            <li class="list-group-item" > <b>Setor:</b> {{ object.setor_oc }}</li>
            <li class="list-group-item"> <b>Descrição do pedido:</b> {{ object.desc_solic }}</li>
            <li class="list-group-item"> <b>Motivo:</b> {{ object.motivo_solic }}</li>
            <li class="list-group-item"> <b>Baixar arquivo:</b> {{ object.anexos }}</li>

        </ul>

    </div>
    <hr>

    <p class="lead">
        Preencha os campos abaixo se deseja liberar o pedido.
    </p>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3 btn-sm">
            <i style="margin-right: 5px" class="fa-solid fa-square-check"></i>Salvar</button>
    </form>

{% endblock conteudo %}
