{% extends 'paginas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
    <title>Cadastro</title>
{% endblock titulo %}


{% block info_tela %}
    <h3 style="margin-top: 10px; text-align: center;">Cadastro</h3>
{% endblock info_tela %}


{% block conteudo %}

    <p class="lead">
        Preencha todos os campos obrigatórios*.
    </p>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3 btn-sm">
            <i style="margin-right: 5px" class="fa-solid fa-square-check"></i>Salvar</button>
    </form>

{% endblock conteudo %}
