{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block titulo %}
    <title>modelo aproverba</title>
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css">

    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

</head>


<body class="corpo">
    <header>
        {% block menu %}
        {% if request.user.is_authenticated %}

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item"> 
                        <a class="navbar-brand nav-link" href="{% url 'index' %}"><img src="{% static 'img/logocpxb.jpeg' %}" width="60" height="50" alt=""></a>
                    </li>
                    <div class="nav-item dropdown mt-2">
                        <a style="color:white; margin-right: 20px;" class="nav-link dropdown-toggle btn-meu-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-id-card-clip"></i><span> Usuário: <em>{{ request.user}}</em></span>
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>

                    <div class="nav-item dropdown mt-2">
                        <a style="color:white" class="nav-link dropdown-toggle btn-meu-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-folder-plus"></i>
                            <span>Lançamentos</span> 
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'lista-verbas' %}">Verbas</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'lista-pc' %}">Pedidos de Compra</a></li>
                    </div>
                    
                    <div class="nav-item dropdown mt-2">
                        <a style="color:white" class="nav-link dropdown-toggle btn-meu-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-magnifying-glass-chart"></i> 
                            <span>Análise de PCs</span>
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li class="nav-item "><a class="dropdown-item" href="{% url 'lista-analise-pc' %}">Aprovação</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'lista-analise-pc' %}">Fiscal</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'lista-analise-pc' %}">Financeiro</a></li>
                    </div>

                    <li class="nav-item mt-2"><a style="color:white" class="nav-link btn-meu-menu" href="{% url 'index' %}">
                        <i class="fa-solid fa-list-check"></i>
                        <span>Acompanhamento OCs</span></a>
                    </li> 
                    
                    <div class="nav-item dropdown mt-2">
                        <a style="color:white" class="nav-link dropdown-toggle btn-meu-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-chart-line"></i> 
                            <span>Relatórios</span>
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'index' %}">Verbas por setor</a></li>
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'index' %}">Painel geral</a></li>
                    </div>
                    
                    <!--
                    <li class="nav-item mt-2"><a style="color:white"  class="nav-link btn-meu-menu" href="{% url 'index' %}">
                        <i class="fa-solid fa-circle-exclamation"></i><span>Sobre</span></a>
                    </li> 
                    -->
                    
                </ul>
            </div>
        </nav>    
        {% else %}
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"> 
                        <a class="navbar-brand nav-link" href="{% url 'index' %}"><img src="{% static 'img/logocpxb.jpeg' %}" width="60" height="50" alt=""></a>
                    </li>
                    <div class="nav-item dropdown mt-2">
                        <a style="color:white" class="nav-link dropdown-toggle btn-meu-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-id-card-clip"></i><span> Usuário</span>
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li class="nav-item"><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        </ul>
                    </div>
        {% endif %}
        {% endblock menu %}
    </header>

        {% block info_tela %}
        <div class="container-sm text-center">
            <h3>Sistema de Aprovação de Verbas</h3>
        </div>        
        {% endblock info_tela %}
        
        <div class="container">
        {% block conteudo %}    
            {% if request.user.is_authenticated %}
            {% else %}
                <h5 style="margin-top: 5%;"> Faça login no menu Usuário para acessar o sistema.</h5>
            {% endif %}
        {% endblock conteudo %}
        </div>
        
    {% block rodape %}
    <footer>
        <p style="margin-bottom: 0;"> <em> @2023 Grupo Capixaba - Sistema de Aprovação de Verbas - Desenvolvido por Jefferson Schittini</em></p>
    </footer>
    {% endblock rodape %}
</body>
</html>