<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Novo projeto</title>
    
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="text/css">
    -->

    <link rel="stylesheet" href="static/css/estilo.css" type="text/css">
    


</head>
<body>
    <div class="divisao">
        <h1 class="texto1">olá, novo projeto</h1>
    </div>
    
</body>
</html>