{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo%}
    <title>Análise Ordem de Compra</title>
{% endblock titulo%}

{% block info_tela%}

{% endblock info_tela%}


{% block conteudo %}
<h3 style="margin-top: 5px;">Análise das Ordens de Compra - Financeiro</h3> 
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>OC</th>
            <th>Data Solic.</th>
            <th>Setor</th>
            <th>Descrição</th>
            <th>Data Lib.</th>
            <th>Valor Lib.</th>
            <th>Opções</th>
        </tr>
        
        {% for pc in object_list %}
        <tr>
            <td>#{{ pc.pk }}</td>
            <td>{{ pc.data_solic }}</td>
            <td>{{ pc.setor_oc }}</td>
            <td>{{ pc.desc_solic }}</td>
            <td>{{ pc.data_aprov }}</td>
            <td>{{ pc.valor_aprov }}</td>
            <td>
                <a href="{% url 'analise-fin-pc' pc.pk %}" class="btn btn-warning btn-sm" title="Analisar OC"><i class="fa-solid fa-magnifying-glass-dollar"></i></a>
                <a href=" {% url 'envia-fin-pc' pc.pk %} " class="btn btn-success btn-sm" title="Finalizar OC"><i class="fa-solid fa-thumbs-up"></i></a>
                <a href=" {# url 'index' pc.pk #} " class="btn btn-danger btn-sm" title="Negar ou Retornar OC"><i class="fa-solid fa-thumbs-down"></i></a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="7">Lista e OC vazia para liberação.</td>
        </tr>
        {% endfor%}
    </table>
</div>

{% endblock conteudo %}