{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo%}
    <title>Análise Pedidos de Compra</title>
{% endblock titulo%}

{% block info_tela%}

{% endblock info_tela%}


{% block conteudo %}
<h3 style="margin-top: 5px;">Análise dos Pedidos de Compra</h3> 
    <p> colocar um caixa de seleção de filtro por setor</p>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>OC</th>
            <th>Data</th>
            <th>Setor</th>
            <th>Solicitante</th>
            <th>Descrição</th>
            <th>Valor Solic.</th>
            <th>Valor Lib.</th>

            <th>Opções</th>
        </tr>
        
        {% for pc in object_list %}
        <tr>
            <td>#{{ pc.pk }}</td>
            <td>{{ pc.data_solic }}</td>
            <td>{{ pc.setor_oc }}</td>
            <td>{{ pc.usuario_log }}</td>
            <td>{{ pc.desc_solic }}</td>
            <td>{{ pc.valor_solic }}</td>
            <td>{{ pc.valor_aprov }}</td>
            <td>
                <a href="{% url 'analise-aprova-pc' pc.pk %}" class="btn btn-warning btn-sm" title="Analisar PC"><i class="fa-solid fa-magnifying-glass-dollar"></i></i></a>
                <a href=" {% url 'envia-aprova-pc' pc.pk %} " class="btn btn-success btn-sm" title="Aprovar PC"><i class="fa-solid fa-thumbs-up"></i></i></a>
                <a href=" {# url 'index' pc.pk #} " class="btn btn-danger btn-sm" title="Negar ou Retornar PC"><i class="fa-solid fa-thumbs-down"></i></a>


            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="7">Pedido de Compra não encontrado.</td>
        </tr>
        {% endfor%}
    </table>
</div>

{% endblock conteudo %}
